/* Colors
 **********
    main: #36bbf5 - blue #25aae4 - dark blue
          #ac3939 - red #bd4a4a - light red
          #ffcc00 - "gold" #eebb00 - dark gold
*/

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
}

html{
    box-sizing: inherit;

    font-size: .625rem;
}

body{
    box-sizing: border-box;
    margin: 0;
    background-color: #222;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

/*************
 * objects 
 *************/

/* interface */
.o-interface{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    text-align: center;
}

.o-interface__buttons button{
    margin: 2em;
}


/*************
 * components 
 *************/

/* button */
.c-button{
    padding: 1rem 2rem;
    border-radius: .6rem;
    border: .2rem solid #36bbf5;
    background-color: transparent;
    font-size: 2rem;
    color: #36bbf5;
    transition: all .5s ease;
}

.c-button:hover,
.c-button:focus{
    border: .2rem solid #25aae4;
    background-color: #36bbf5;
    outline: none;
    color: #333;
}

.c-button--danger{
    border: .2rem solid #ac3939;
    color: #ac3939;
}

.c-button--danger:hover,
.c-button--danger:focus{
    border: .2rem solid #bd4a4a;
    background-color: #ac3939;
}

.c-button--primary{
    border: .2rem solid #ffcc00;
    color: #ffcc00;
}

.c-button--primary:hover,
.c-button--primary:focus{
    border: .2rem solid #eebb00;
    background-color: #ffcc00;
}

/* heading */
.c-heading{
    font-size: 5.12rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #36bbf5;
}

/* bar */
.c-bar{
    position: absolute;
    top: 2vmin;
    left: 2vmin;
    height: 4rem;
    width: 20rem;
    border: .4rem solid #36bbf5;
    border-radius: .6rem;
    transition: all .5s ease;
}

.c-bar > span{
    display: block;
    height: 4rem;
    background-color: #25aae4;
    border-radius: .1rem;
    transition: all .5s ease;
}

.c-bar--warning{
    border: .4rem solid #eebb00;
}

.c-bar--warning > span{
    background-color: #ffcc00;
}

.c-bar--danger{
    border: .4rem solid #ac3939;
}

.c-bar--danger > span{
    background-color: #bd4a4a;
}

.c-score{
    position: absolute;
    top: 2vmin;
    right: 2vmin;
    margin: 0;
    font-size: 3rem;
    color: #36bbf5;
}
/************
 * util class
 ************/

.hide{
    display: none;
}